.defaultLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 15px;
    min-width: 170px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}


.defaultLink:hover {
    transition: 0.3s;
    cursor: pointer;
    background-color: #0044ff;
}

.activeLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 170px;
    text-decoration: none;
    background-color: #366EFF;
    border-bottom: 3px solid #1bab06;
    color: white;
    font-weight: 500;
}

.linkIcon {
    margin-right: 10px;
}

.containerLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}