.defaultLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60%;
    padding: 0 15px;
    min-width: 170px;
    text-decoration: none;
    color: #4f4f4f;
    font-weight: 500;
    transition: 0.3s;
    border-radius: 5px;
}


.defaultLink:hover {
    transition: 0.3s;
    cursor: pointer;
    color: black;
    border-radius: 5px;
}

.activeLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 90%;
    min-width: 170px;
    text-decoration: none;
    background-color: white;
    color: black;
    font-weight: 500;
    border-radius: 5px;
}

.linkIcon {
    margin-right: 10px;
}

.containerLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.divLinks {
    display: flex;
    height: 70%;
    align-items: center;
    background-color: #ececec;
    border-radius: 5px;
    padding: 3px 5px;
}